@import '../Card/Card.scss';

.CardsField {
  flex-grow: 1;
  flex: 1 0 80%;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap; 
  align-content: flex-start;
  background: rgba(255, 255, 255, 0.918); 
  padding-top: 8vh;
  @media (min-width: 1080px)  {   
    align-content: flex-start;
    flex: 1 0 90%;   
    width: 90%;
    align-self: center;
    padding: 2rem 0;
    padding-top: 10vh;
  }
}