@import '../Card/Card.scss';

.CardsField {
  flex-grow: 1;
  flex: 1 0 80%;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-content: flex-start;
  min-width: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.918);

}
